<div class="registration-wrapper">
  <div class="header">
    Register for a new account
  </div>
  <hr>
  <div class="registration-container">
    <div class="registration-data-wrapper">
      <form class="form-row">
        <mat-form-field class="mail inputs">
          <mat-label>Email</mat-label>
          <input required [(ngModel)]="email" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. user@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            The email address is not valid!
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>
      </form>
      <form class="form-row">
        <mat-form-field class="username inputs">
          <mat-label>Username</mat-label>
          <input required [(ngModel)]="username" matInput [formControl]="usernameFormControl">
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>
      </form>
      <form class="form-row" [formGroup]="myForm">
        <mat-form-field appearance="standard" class="password inputs">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-error *ngIf="myForm.hasError('required', 'password')">
            This field is required
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <div class="registration-button">
        <button (click)="sendData()">Register</button>
      </div>
    </div>
  </div>
</div>
