.registration-wrapper {
  width: 100%;
  margin: 150px auto;
}

hr {
  width: 30.5%;
  margin-bottom: 50px;
}

.header {
  width: 100%;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registration-container {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}

.registration-data-wrapper {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 25px;
}

.form-row {
  margin: 0 auto;
  width: 70%;
}

.inputs {
  display: inline-block;
  width: 47%;
  margin: 0;
  vertical-align: middle;
}

.mail, .username {
  width: 100%;
}

::ng-deep {
  //.mat-form-field .mat-form-field-flex{
  //  background-color: white;
  //}
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
    border-radius: 5px;
  }
}

.registration-button {
  width: 100%;
  display: flex;
}

input {
  line-height: 40px;
}

.password-row {
  margin-bottom: 0;
}

.registration-button > button {
  margin: 0 auto 15px auto;
  background-color: #FF4500;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.registration-button > button:hover {
  transition: 0.2s ease-in-out;
  background-color: white;
  color: #FF4500;
  border: 1px solid #FF4500;
}

.password {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .registration-container {
    flex-direction: column;
    padding: 0 55px;
  }
  .registration-data-wrapper {
    width: 100%;
  }

  .info {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .last-name, .repeat-password {
    margin-left: 0;
  }

  img {
    max-width: 300px;
  }

  .header {
    line-height: 30px;
  }
}
