<div class="container">
  <div class="row">
    <div class="create-subreddit-container">
      <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
        <div class="form-group">
          <div class="create-subreddit-heading">Create Subreddit</div>
          <hr />
          <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
                 placeholder="Title">
          <textarea class="description" type="text" [formControlName]="'description'" placeholder="Description"></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button mat-button class="discard btnDiscard" (click)="discard()">Discard</button>
              <button mat-button class="create btnCreateSubreddit">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
