.container {
  width: 100%;
}

.create-subreddit-container {
  width: 70%;
  margin: 150px auto;
}

.create-subreddit-heading {
  text-align: center;
}

.form-group {
  width: 100%;
}

input {
  margin: 0 auto;
  width: 50%;
}
