/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
