<div class="row-post" *ngFor="let post of posts">
  <app-vote [post]="post"></app-vote>
  <div class="wrapper">
    <div class="oneline">
      <div class="post-name subname arrow-select">{{post.subredditName}} </div>
      <div class="post-name">&nbsp;posted by </div>
      <div class="post-name subname arrow-select"> &nbsp;{{post.username}}</div>
      <div class="post-name"> &nbsp;{{post.duration}}</div>
    </div>
    <hr class="width-line" />
    <div class="oneline">
      <div class="post-name subname arrow-select">{{post.postName}}</div>
    </div>
    <div class="oneline">
      <div class="post-name" [innerHTML]="post.description"></div>
    </div>
    <div class="oneline">
      <div class="oneline">
        <mat-icon class="arrow-select comment-icon">forum</mat-icon>
        <div class="arrow-select">Comments ({{post.commentCount}})</div>
      </div>
    </div>
    <hr />
  </div>
</div>
